<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title>{{ page.title }}</title>
    <meta content="width=device-width" name="viewport">

    <!-- syntax highlighting CSS -->
    <link href="{{ site.baseurl_root }}/css/syntax.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ site.baseurl_root }}/css/main.css" rel="stylesheet">

    <!-- Responsive CSS -->
    <link href="{{ site.baseurl_root }}/css/responsive.css" rel="stylesheet">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700'
          rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:300,400,700' rel='stylesheet'
          type='text/css'>
</head>
<body>
<div class="site">
    <div class="sidebar" id="sidebar">
        <div class="header">
            {% if site.lang == "ko" and site.default_locale_in_subfolder != true %}
            <h3 class="title"><a href="{{ site.baseurl_root }}/">쏙쏙 들어오는 함수형 코딩</a></h3>
            {% else %}
            <h3 class="title"><a href="{{ site.baseurl_root }}/{{ site.lang }}">Grokking
                simplicity</a></h3>
            {% endif %}
        </div>
        <div class="posts">
            <ul class="posts-list">
                {% for post in site.posts %}
                <li class="post-link">
                    <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
                        {{ post.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="footer">
          <span id="footer-links">
            <a class="footer-link" href="{{ site.baseurl }}/about">{% t global.about %}</a> <span
                  class="separator">&bull;</span>
            <a class="footer-link" href="">{% t global.github %}</a>
          </span>
        </div>
        {% tf footer.md %}
        <br/>
        <a class="link-ko" href="{% tl root ko %}">ko</a>
        <a class="link-en" href="{% tl root en %}">en</a>
    </div>

    {{ content }}

</div>
<script src="{{ site.baseurl_root }}/scripts/responsive.js" type="text/javascript"></script>
</body>
</html>